*.dll
*.pdb
*.bak
*.user
packages/
Droid/obj/*
WinPhone81/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.apk
*.mdb
*.g.cs
*.cache
*/bin/*
*/obj/*
*.suo
*.txt
*.appx
*.psd1
*.ps1
*.appxbundle
*.cer
*.appxsym
*.zip
